@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  :root {
    --cs: 15px;
  }
  .folded {
    position: absolute;
    clip-path: polygon(
      100% 0,
      100% calc(100% - var(--cs)),
      calc(100% - var(--cs)) 100%,
      0 100%,
      0 0
    );
    z-index: 20;
  }
  .folded-amber-after {
    content: "";
    position: absolute;
    display: block;
    width: var(--cs);
    height: var(--cs);
    bottom: 0;
    right: 0;
    @apply bg-amber-950/10;
  }
  .folded-fuchsia-after {
    content: "";
    position: absolute;
    display: block;
    width: var(--cs);
    height: var(--cs);
    bottom: 0;
    right: 0;
    @apply bg-fuchsia-950/10;
  }
  .folded-green-after {
    content: "";
    position: absolute;
    display: block;
    width: var(--cs);
    height: var(--cs);
    bottom: 0;
    right: 0;
    @apply bg-green-950/10;
  }
  .folded-sky-after {
    content: "";
    position: absolute;
    display: block;
    width: var(--cs);
    height: var(--cs);
    bottom: 0;
    right: 0;
    @apply bg-sky-950/10;
  }
  .cropped-area {
    border: 1px dashed black;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100px;
    height: 100px;
    z-index: 100;
    box-shadow: 0 0 2000px 2000px rgb(0 0 0 / 30%);
    touch-action: none;
    cursor: move;
  }

  .resizer {
    position: absolute;
    bottom: -4px;
    right: -4px;
    width: 10px;
    height: 10px;
    background-color: #0097df;
    cursor: nwse-resize;
    touch-action: none;
  }
}
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
